{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Welcome {{name}} </h1>
    <h2>Group: {{group}}</h2>
    <div id="video-container" style ="display: flex; gap: 10px; background-color: #e2e8f0;">
        
    </div>
    <div id="buttons-containner">
        <button id="audio-btn">Mute Audio</button>
        <button id="video-btn">Mute Video</button>
        <button id="screen-share-btn">Share Screen</button>
    </div>
    <div id="messages-container">

    </div>

    <form id="form">
        <input id="input-msg" autocomplete="off" name="input_msg"/>
        <button type="submit">Send</button>
    </form>

    <button id="leave-btn">Leave</button>


    <script>
        sessionStorage.setItem('storedName', "{{name}}"); 
        sessionStorage.setItem('storedGroup', "{{group}}");
        sessionStorage.setItem('storedToken', "{{token}}");
    </script>

    <script src="https://cdn.jsdelivr.net/npm/livekit-client/dist/livekit-client.umd.min.js"></script>

    <script src="{% static 'js/sfu_client.js' %}"></script>
    <script src="{% static 'js/ws_chat.js' %}"></script>
</body>
</html>