<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Conference</title>
</head>
<body>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="card">
        <h1>Join Conference</h1>
        <form id="form" method="POST">
            {% csrf_token %}
            <input id="input-name" autocomplete="off" name="input_name" placeholder="Full Name" required/>
            <input type="text" id="input-group" autocomplete="off" name="input_group" placeholder="Group ID" required/>
            <button type="submit">Join Now</button>
        </form>
    </div>
</body>
</html>